.logo {
    font-size: 28px;
    font-weight: bold;
}

.menu li {
    margin: 0 15px;
    font-size: 20px;
}

.menu li a:hover {
    color: green;
}

.carousel-indicators {
    margin-bottom: -1em;
}

.carousel-indicators [data-bs-target] {
    border: 2px solid green;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}