body {
    text-align: justify;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.menu li {
    margin: 0 15px;
    font-size: 20px;
}

.menu li a:hover {
    color: green;
}

.carousel-indicators {
    margin-bottom: -1em;
}

.carousel-indicators [data-bs-target] {
    border: 2px solid green;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

#service {
    margin: 100px 0;
}

.service-single {
    box-shadow: 0px 0px 2px green;
}

.service-text {
    padding: 0 10px 20px;
}

.contact-right {
    border-top: 15px solid green;
    padding: 50px 150px;
    margin: 30px;
}

#about-us {
    margin: 100px 0;
}

footer {}

.f-top {
    padding: 100px 0;
    background-color: black;
}

.contact_us {}

.c-h3 {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 700;
}

.contact-us p {
    margin: 10px 0;
    font-size: 13px;
    font-weight: 400;
    color: #8B8B8B;
}

.contact-us p:nth-child(even) {
    margin: 0;
}

.social-media {
    margin: 30px 0 0;
}

.s-btn {
    width: 32px;
    height: 30px;
    font-size: 15px;
    color: 222327;
    background-color: #535D69;
    border: none;
    border-radius: 3px;
}

.s-btn:hover {
    color: white;
    background-color: green;
}

.useful-link {}

.useful-link ul {
    padding: 0;
}

.useful-link ul li {
    margin: 5px 0;
    list-style-type: none;
}

.useful-link ul li a {
    font-size: 13px;
    font-weight: 400;
    color: #8B8B8B;
    text-decoration: none;
}

.useful-link ul li a:hover {
    color: green;
}

.our-newsletter {}

.our-newsletter p {
    width: 90%;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    color: #8B8B8B;
}

.input-button {
    margin: 40px 0 0;
}

.email-input {
    margin: 0;
    width: 45%;
    padding: 11px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #8B8B8B;
    background-color: transparent;
    border: 1px solid #8B8B8B;
    box-sizing: border-box;
}

.subs-btn {
    margin-left: -5px;
    margin-bottom: 5px;
    width: 49%;
    padding: 12px 5px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    border: none;
    transition: 0.3s;
}

.subs-btn:hover {
    color: green;
    background-color: white;
}

.f-bottom {
    padding: 15px 0;
    text-align: center;
}

.f-bottom p {
    font-size: 13px;
    font-weight: 400;
    color: white;
}